@page
@model RazorProject.Pages.Employees.IndexModel
@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>


<div class="card-deck">
    @foreach(var employee in Model.Employees)
    {
        var photoPath = "noimage.jpg";

        <div class="card m-3" style="min-width: 18rem; max-width:30.5%">
            <div class="card-header">
                <header>@employee.Name</header>
            </div>

            <img class="care-img-top imageThumbnail" src="@photoPath"
                   asp-append-version="true" />
            
            <div class="card-footer text-center">
                <a href="#" class="brtn btn bg-primary m-1">View</a>
                <a href="#" class="brtn btn bg-primary m-1">Edit</a>
                <a href="#" class="brtn btn bg-danger m-1">Delete</a>
            </div>
        </div>
    }
</div>
 


